# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
*.egg
*.pytest_cache/

# --------------------
# Rust compiled files
#---------------------
websocket_candle_rust/target/
**/*.rlib
**/*.exe
**/*.dll
**/*.dylib
**/*.so

# -----------------
# Logs
# -----------------
*.log

# -----------------
# Environment variables
# -----------------
.env


# -----------------
# Databases / Data files
# -----------------
*.sqlite3
mongo/
redis/
*.sqlite
*.db
*.zip
*.tar.gz
*.bak
# -----------------
# VS Code / IDE
# -----------------
.vscode/
.idea/
*.code-workspace

# -----------------
# System files
# -----------------
.DS_Store
Thumbs.db



# Rust build files
target/
Cargo.lock
*.rlib
*.d
*.exe
*.so
*.dll

# Python build / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Config sensitive files
authcreds.json
config.env

# Docker artifacts
*.docker
*.tar
