# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
*.egg
*.pytest_cache/

# -----------------
# Logs
# -----------------
*.log

# -----------------
# Environment variables
# -----------------
.env


# -----------------
# Databases / Data files
# -----------------
*.sqlite3
mongo/
redis/

# -----------------
# VS Code / IDE
# -----------------
.vscode/
.idea/
*.code-workspace

# -----------------
# System files
# -----------------
.DS_Store
Thumbs.db
