services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trading_system
    command: python3 WebSocket_Real_time.py
    restart: always
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_HOST=mongodb
      - REDIS_HOST=redis
    depends_on:
      - mongodb
      - redis

  mongodb:
    image: mongo:5.0.31-focal

    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:8-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
