version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: trading_system
    command: python3 WebSocket_Real_time.py
    restart: always
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mongodb
      - redis
    extra_hosts:
      - "localhost:127.0.0.1"   # يضمن أن localhost يصل للخدمة داخل الشبكة

  mongodb:
    image: mongo:6.0-jammy
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongo_data:
  redis_data:
