services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trading_system
    command: python3 WebSocket_Real_time.py
    restart: always
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mongodb
      - redis

  mongodb:
    image: mongo:7.0-jammy
    container_name: trading_system_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:8-alpine
    container_name: trading_system_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mongo_data:
