services:
  app:
    build:
      context: .
      dockerfile: dockerfile 
    container_name: trading_system
    command: python3 WebSocket_Real_time.py
    restart: always
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - PYTHONUNBUFFERED=1
